Data/ICDAR_SROIE/0325updated.task1train(626p)/
Data/ICDAR_SROIE/0325updated.task2train(626p)/
Data/ICDAR_SROIE/task1_2_test(361p)/
Data/ICDAR_SROIE/task3-test 347p) -/
Data/ICDAR_SROIE/text.task1_2-test(361p)/
Data/ICDAR_SROIE/text.task1_2-test/





